@import url(https://fonts.googleapis.com/css?family=Geologica:100,200,300,regular,500,600,700,800,900);
* {
    font-family: 'Geologica', sans-serif;
}
*, *::before, *::after {
    box-sizing: border-box;
  }
.sec_01 {
    background-color: #ebebeb;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: #ebebeb;
    overflow-x: hidden;
}
.bg_sec_01 {
    background-image: url("/img/header/pic.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%; 
    height: 100vh;
}
.navbar {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: none !important;
    position: fixed;
    z-index: 30;
    transition: all 0.5s;
    left: 50%;
    transform: translateX(-50%);
}
.nav-item {
    white-space: nowrap;
    color: white;
}
.nav- img {
    cursor: pointer;
}
#nav_link {
    margin-right: 5px;
    color: white;
    border-radius: 10px;
    transition: all 0.3s ease;
}
#nav_link:hover {
    background-color: white;
    color: #ffad94;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-toggler {
    background-color: #ffb198;
  }
.navbar-toggler-icon img{
    width: 30px;
    height: 30px;
}
#navbar__button {
    width: 164px;
    height: 50px;
    background-color: white;
    border-radius:  10px;
    color: #ffb198;
    border: none;
    font-weight: bold;
}
#navbar__button:hover {
    background-color: #ffb198;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}
#navbar__logo {
    margin-right: 100px;
    cursor: pointer;
}
.container__box {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

.nav- {
    margin-top: 5px;
    margin-right: 10px;
}
#vk__icon {
    margin-right: 10px;
}
.header__text {
    position: relative;
    top: 189px;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.header__text h2 {
    font-size: 42px;
    line-height: 48pt;
}
.header__text h1 {
    font-size: 52pt;
    font-weight: bold;
    line-height: 48pt;
}
.header__text p {
    margin-top: 30px;
    font-size: 18pt;
    font-weight: normal;
}
.header__button_about {
    margin-top: 5.5vh;
    border: 1.8px solid white;
    width: 330px;
    height: 80px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header__help_fond:hover {
    background-color: #ff7852;
    color: white;
}
.header__button_about a {
    color: white;
    font-size: 17pt;
    font-weight: bold;
    line-height: 48pt;
    margin-right: 30px;
    margin-bottom: 2px;
    text-decoration: none;
}
.bg_sec_02 {
    background-color: #ebebeb;
    height: auto;
}

.header__help {
    position: relative;
    margin: 0 auto;
    width: 77%;
    background-color: white;
    border-radius: 25px;
    padding-left: 5vh;
    padding-top: 5vh;
    padding-right: 5vh;
    top: -15vh;
    padding-bottom: 2vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.header__sum_button {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.header__sum {
    width: 20vh;
    height: 12vh;
    background-color: #f3f3f3;
    border-radius: 10px;
    border: none;
    color: #5d5d5d;
    font-weight: bold;
    font-size: 14pt;
    cursor: pointer;
    transition: all 0.4s;
}
.header__sum:hover {
    background-color: #ffad94;
    color: white;
}
.header__sum:focus {
    background-color: #ffad94;
    color: white;
}
#header__another_sum {
    width: 200px;
    text-align: center;
    font-size: 12pt;
}
#header__another_sum:hover {
    background-color: #f3f3f3;
    color: #ffad94;

}
#header__help_fond {
    background-color: #ffad94;
    color: white;
    margin-left: 63px;
    font-size: 17px;
    font-weight: bold;
}

.header__help_button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.header__sum {
    flex-basis: calc(180px - 10px); /* Определяем минимальную ширину кнопки */
    margin: 5px; /* Добавляем небольшой отступ между кнопками */
}
.header__help_card {
    display: flex;
    margin-top: 46px;
    width: 300px;
    align-items: center;
}  
.header__help_card img {
    width: 80px;
    height: 29px;
}
.header__help_card img:last-child {
    width: 40px;
}
.header__help_card img:not(:first-child) {
    margin-left: 34px;
}

.header__help_card a {
    white-space: nowrap;
    text-align: center;
    color: #ffae94;
    text-decoration: none;
    margin-left: 30%;
}
.header__help_card a span {
    color: #6c6c6c;
}

.header__help_card a:not(:last-child) {
    margin-left: 155%;
}

.about__fondation_texts {
    width: 53%;
    display: flex;
    margin-bottom: 88px;
    white-space: nowrap;
}
.about__fondation_texts img {
    margin-right: 25px;
    width: 53px;
    height: 56px;
}
.about__fondation_text1 h1{
    font-weight: bold;
    margin-bottom: 80px;
}

.about__fondation_text2 h2{
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 18pt;
}

.sec_02__about {
    display: flex;
    justify-content: center;
}
.about__fondation_video img{
    margin-left: 90px;
    margin-top: 100px;
    max-width: 100%;
    height: auto;
}

.about__fondation_button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__fondation_button button {
    width: 224px;
    height: 50px;
    background-color: #ffffff;
    color: #ffc4b3;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.bg_sec_03 {
    background-color: #ebebeb;
    height: auto;
}
.sec_03 {
    background-color: #ebebeb;
}
.about__fondation_button button {
    margin-top: 30px;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.5s;
}
.about__fondation_button p {
    margin-top: 47px;
}
.about__fondation_button button:first-child {
    margin-right: 50%;
    font-weight: bold;
}
#be__volunteer {
    margin-right: 46px;
    height: 60px;
    font-weight: bold;
}
#be__partner {
    margin-left: 46px;
    height: 60px;
    font-weight: bold;
}

.about__fondation_button button:hover {
    background-color: #ffad94;
    color: white;
}
.about__fondation_button p {
    font-weight: bold;
}
.sec2__project h1 {
    font-weight: bold;
    margin-bottom: 30px;
    padding-top: 100px;
}
.sec2__project_button {
    display: flex;
    align-items: center;
}

.sec2__project_button button {
    width: 274px;
    height: 60px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
    transition: all 0.5s;
}
.sec2__project_button button:not(:first-child) {
    margin-left: 10px;
}
.sec2__project_button button:hover {
    background-color: #ffad94;
    color: white;
    white-space: nowrap;
}
.bg_sec_04 {
    background-color: #ebebeb;
    height: 17vh;
}
.sec_04__arrows {
    margin-top: 60px;
    float: right;
    display: flex;
}
.sec_04_right_arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    width: 44px;
    height: 44px;
    transition: all 0.5s;
    border-radius: 15px;
}
.sec_04_left_arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 15px;
}
.sec_04_right_arrow:hover {
    background-color: white;
    cursor: pointer;
}
.sec_04_left_arrow:hover {
    background-color: white;
    cursor: pointer;
}

.bg_sec_05 {
    background-color: #ebebeb;
    height: auto;
}
.sec_04__cards {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
}
.sec_04__card {
    position: relative;
    cursor: pointer;
    display: block;
    max-width: 274px;
    height: 440px;
    background-color: white;
    padding-left: 20px;
    padding-top: 25px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sec_04__card:hover {
    background-color: #ff9070;
    color: white;
}

.sec_04__card:not(:first-child) {
    margin-left: 14px;
}

.sec_04__card p {
    font-size: 10pt;
}
.sec_04__card h2 {
    font-size: 15pt;
    margin-top: 12px;
    margin-bottom: 15px;
    font-weight: bolder;
}

.button__all_programm {
    display: flex;
    margin-top: 130px;
    position: relative;
    bottom: 30px;
}
.button__all_programm button {
    width: 224px;
    height: 60px;
    border-radius: 10px;
    background-color: #ffad94;
    color: white;
    white-space: nowrap;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    transition: all 0.5s;
}

.button__all_programm button:hover {
    background-color: #ffb198;
    color: rgb(255, 255, 255);
}

.bg_sec_06 {
    height: auto;
    /*background: rgb(221,98,65);
    background: linear-gradient(90deg, rgba(221,98,65,1) 0%, rgba(230,121,92,1) 35%, rgba(255,153,127,1) 100%); */
    background-image: url("/img/sec6/less2.png");
}
.sec_06__less {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.sec_06__text {
    white-space: nowrap;
    color: white;
    z-index: 9;
    padding: 0 5px 0 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.sec_06__text h1{
    margin-top: 15vh;
    margin-left: 5px;
    font-weight: bold;
    margin-bottom: 10vh;
}
.sec_06__text {
    position: relative;
    white-space: nowrap;
    color: white;
}
.sec_06__text a {
    display: block;
    text-decoration: none;
    color: white;
}
.sec_06__text a:not(:last-child) {
    margin-bottom: 5px !important;
    font-weight: bold;
}
.sec_06__text a:not(:first-child) {
    margin-bottom: 15vh;
}

#sec_07__adress_help {
    margin-top: 25vh;
    margin-bottom: 15vh;
    font-weight: bold;
}
.sec_07__card {
    position: relative;
    margin: 8px 8px 8px 8px;
    display: block;
    width: 274px;
    height: 760px;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.sec_07__card h3 {
    margin-top: 5vh;
    font-size: 15.5pt;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.sec_07__card_adress {
    display: flex;
    justify-content: center;
    align-self: center;
}
.sec_07__card_adress p {
    font-size: 11pt;
}
.sec_07__card_adress img {
    width: 29px;
    height: 43px;
    margin-right: 3vh;
}

.sec_07__card_band {
    width: 90%;
    border-bottom: 2px solid #ebebeb; 
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sec_07__card_help {
    display: flex;
    justify-content: center;
    align-self: center;
}
.sec_07__card_help p {
    font-size: 11pt;
}
.sec_07__card_help img {
    width: 38px;
    height: 33px;
    margin-right: 3vh;
}


.sec_07__card_count {
    display: flex;
    justify-content: center;
    align-self: center;
}
.sec_07__card_count p {
    font-size: 11pt;
}
.sec_07__card_count img {
    position: relative;
    width: 35px;
    height: 33px;
    margin-right: -1vh;
    right: 35px;
    top: 18px;
}
.sec_07__card_count p span{
    font-weight: bold;
}
#card_07__progress {
    margin-left: 20px;
    width: 90%;
    height: 8px;
    background: #ebebeb;
    border-radius: 10px;
    border: none;
}

#card_07__wanthelp {
    width: 85%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffad94;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 13px;
    transition: all 0.5s;
}

#card_07__wanthelp:hover {
    font-size: 17px;
    background-color: #ff7852;
    font-weight: bold;
}

.sec_07__cards {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
}

.bg_sec_08 {
    height: auto;
    background: rgb(221,98,65);
    background: linear-gradient(90deg, rgba(221,98,65,1) 0%, rgba(230,121,92,1) 35%, rgba(255,153,127,1) 100%);
}

.bg_sec_08 h1 {
    font-weight: bold;
    color: white;
}

.sec_08 {
    margin-top: 40px;
}

#sec_08__h1 {
    padding-top: 15vh;
    font-weight: bolder;
    padding-bottom: 15vh;
}
.sec_08__cards {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
}
.sec_08__card {
    position: relative;
    margin: 8px 8px 8px 8px;
    display: block;
    width: 272px;
    height: 550px;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.sec_08__card img {
    width: 100%;
    height: auto;
}
.sec_08__card_text h3{
    margin-top: 5vh;
    font-size: 15.5pt;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.sec_08__card_text p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11pt;
}

.sec_08__card_text h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15.5pt;
    font-weight: bold;
    color: #ffb29a;
}

#all_programm_button {
    width: 224px;
    height: 60px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #ffad94;
    margin: 49px 0 144px 10px;
    transition: all 0.5s;
    cursor: pointer;
}
#all_programm_button:hover {
    color: black;
    background-color: white;
}

.bg_sec_09 {
    background-color: #ebebeb;
    height: auto;
}
.sec_09__text h2 {
    font-weight: bold;
    padding-top: 25vh;
    padding-bottom: 17vh;
}

.sec_09__card {
    position: relative;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
    display: block;
    width: 364px;
    height: 410px;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sec_09__card img {
    width: 100%;
    height: auto;    
}
.sec_09__card_text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec_09__card_text p {
    padding: 25px;
}

.sec_09__cards {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
}

.sec_09__button button {
    width: 224px;
    height: 60px;
    cursor: pointer;
    background-color: #ff7852;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 50px;
    margin-bottom: 11vh;
    transition: all 0.5s;
}

.sec_09__button button:hover {
    background-color: #ffb198;
    color: #ffffff;
}


.bg_sec_10 {
    height: auto;
    background: rgb(221,98,65);
    background: linear-gradient(90deg, rgba(221,98,65,1) 0%, rgba(230,121,92,1) 35%, rgba(255,153,127,1) 100%);
}
#sec10__advice {
    padding-top: 23vh;
    font-weight: bold;
    color: white;
    padding-left: 10px;
}

.sec_10__advice_text button {
    width: 224px;
    height: 60px;
    background-color: white;
    border: none;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    margin-top: 6vh;
    cursor: pointer;
    transition: all 0.5s;
    padding-left: 10px;
    margin-bottom: 50px;
}

.sec_10__advice_text button:hover {
    background-color: #ffa68e;
    color: white;
}

.sec_10__advice_text p {
    color: white;
    font-size: 11pt;
    padding-left: 10px;
}

.sec_10__advice_text p:first-child {
    margin-top: 20vh;
}

.sec_10__advice_text {
    display: block;
}
.sec_10__advice_picture {
    display: flex;
}

.sec_10__advice {
    display: flex;
}

.sec_10__advice_picture img {
    width: 300px;
    height: 300px;
}
.sec_10__advice_text2 {
    color: white;
    margin-left: 30px;
}
.sec_10__advice_text2 h3 {
    margin-bottom: 20px;
}
.sec_10__advice_picture {
    position: relative;
    left: 50px;
    top: 130px;
    height: 350px;
}

.bg_sec_11 {
    background: #ebebeb;
    height: auto;
}

#ustav__documents {
    padding-top: 25vh;
    font-weight: bold;
    padding-bottom: 35px;
    padding-left: 15px;
}
.documents__icon {
    display: flex;
    padding: 50px 50px 50px 50px;
    width: 33%;
}
.documents__icon_text {
    display: block;
}
.documents__irl {
    margin-bottom: -0.5px;
    font-weight: bold;
}
.documents__icon_text a {
    color: #767575;
}

.documents__icon_text {
    margin-left: 20px;
}

.documents__icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.documents__icon img{
    cursor: pointer;
    width: 45px;
    height: 50px;
}
.bg_sec_12 {
    background-color: #ffad94;
    height: 30px;
    width: auto;
}

.bg_sec_13 {
    background-color: #3e3e3e;
    height: auto;
}

.sec13__card h3 {
    color: #ffa990;
    font-size: 17pt;
}
.sec13__card p {
    color: white;
    margin-top: 25px;
    display: block;
    padding-right: 15px;
}
.sec13__cards {
    padding-top: 13vh;
    padding-bottom: 11vh;
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.sec13__card input{
    margin-top: 10px;
    width: 250px;
    height: 45px;
    background-color: #f3f3f3;
    border: 10px;
    color: #989898;
    border: none;
    border-radius: 10px;
}
.sec13__card button {
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: #ffad94;
    color: white;
    font-weight: bold;
    margin-top: 12px;
    font-size: 13pt;
    cursor: pointer;
    transition: all 0.5s;
}
.sec13__card button:hover {
    background-color: white;
    color: black;
}
.sec13__adress p{
    margin-top: 0px;
}

.bg_sec_14 {
    background-color: #222222;
    height: auto;
}

.sec14__cards {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.sec14__card p {
    margin-top: 25px;
    color: white;
    font-size: 9pt;
} 
.sec14__card_links {
    display: flex;
    align-items: center;
    justify-content: center;
}
#sec14__icon {
    margin-right: 31.5px;
    cursor: pointer;
}
#sec14__icon2 {
    margin-left: 31.5px;
    cursor: pointer;
} 

.sec14__card_links {
    margin-bottom: 45px;
}
#sec14__policy {
    color: #ffa68e;
    font-size: 11pt;
    text-decoration: none;
}

.sec14__scramlogo {
    cursor: pointer;
    display: flex;
}

.sec14__scramlogo img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.sec_06__text {
    position: relative;
    left: 40vh;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999; 
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #ffffff;
    margin: 15% auto; 
    padding: 30px;
    width: 750px; 
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.close {
    color: #141010;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: auto;
    transition: all 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-text h5{
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
  .modal-text a {
    display: flex;
    justify-content: center;
  }

  .modal_big__text {
    overflow-y: auto;
    max-height: 300px; /* задайте максимальную высоту, чтобы контент не занимал слишком много места */
  }

.sec__arrows {
    display: flex;
    float: right;
    margin-top: 35px;
}
.sec_right_arrow {
    background: url('/img/sec4/icon_arrow\ copy.png');
    width: 35px;
    height: 30px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    border-radius: 10px;
    transition: all 0.3s;
    border: 5px solid #ebebeb;
}

.sec_left_arrow {
    background: url('/img/sec4/icon_arrow\ copy.png');
    width: 35px;
    height: 30px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    transition: all 0.3s;
    border: 5px solid #ebebeb;
}

#arrows_green {
    margin-top: 160px;
    background-color: #f89075;
    border: 5px solid #f89075;
}
#arrows_green2 {
    margin-top: 160px;
    background-color: #f89075;
    border: 5px solid #f89075;
}

#arrow_white {
    margin-top: 190px;
}
#arrow_white2 {
    margin-top: 190px;
}

#section4 {
    padding-left: 15px;
}

.sec_06__img img {
    width: fit-content;
    height: fit-content;
}

.modal-content2 {
    background-color: #ffffff;
    margin: 12% auto; 
    padding: 30px;
    max-width: 70%; 
    height: 470px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.close1 {
    color: #685959;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: auto;
    transition: all 0.3s;
  }
  
  .close1:hover,
  .close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.modal-content3 {
    display: flex;
}

.modal2-photo img {
    position: relative;
    top: -63px;
    right: 50px;
}
.modal2-text h3{
    color: #595959;
    font-size: 26pt;
    font-weight: bold;
}
.modal2-text p {
    color: #7c7c7c;
    font-size: 14pt;
}
.modal2-text {
    margin-top: 40px;
}
.modal2-input input {
    padding: 13px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 5px;
    width: 230px;
    height: 70px;
    margin-left: 10px;
}
.modal2-input2 input {
    background-color: #f3f3f3;
    border: none;
    border-radius: 5px;
    width: 230px;
    height: 70px;
}
.modal2-input input {
    margin: 11px;
}
.modal2-input2 input {
    margin: 11px;
}
.modal2-input2 button {
    border: none;
    border-radius: 5px;
    width: 230px;
    height: 70px;
    background-color: #ffad94;
    color: white;
    font-weight: bold;
    margin: 11px;
    cursor: pointer;
    transition: all 0.5s;
}
.modal2-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.modal2-input2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.modal2-input2 a {
    margin: 11px;
    color: #ffad94;

}
.modal2-input2 a span {
    color: #595959;
}
.modal2-input2 button:hover {
    background-color: #ff7852;
}
.sec14__scramlogo a {
    color: white;
}
.child_img {
    width: 100%;
    height: auto;
}

.navbar-container {
    background-color: transparent;
    transition: background-color 0.5s;
    width: 100%;
    position: fixed;
    height: 95px;
    z-index: 999;
}

.navbar-container.scrolled {
    background-color: #3e3e3e !important;
}

.slick-next {
    float: right;
    position: relative;
    top: -458px;
    right: 15px;
    transform: rotate(180deg);
}




















@media screen and (max-width: 1552px) {
    .modal2-input {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .modal2-input2 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .modal2-input input {
        width: 150px;
        height: 50px;
    }
    .modal2-input2 input {
        width: 150px;
        height: 50px;
    }
    .modal2-input2 button {
        width: 150px;
        height: 50px;
    }
    .modal2-input2 a {
        font-size: 9pt;
    }
}
@media screen and (max-width: 1278px) {
    .modal2-photo {
        display: none;
    }
}

@media screen and (max-width: 876px) {
    .modal-content2 {
        height: 580px;
    }
    .modal2-input {
        flex-wrap: pre-wrap;
    }
    .modal2-input2 {
        flex-wrap: pre-wrap;
    }
}
@media screen and (max-width: 624px) {
    .modal2-text h3 {
        font-size: 16pt;
        font-weight: bold;
      }
      .modal2-text p {
        font-size: 10pt;
      }
      .modal-content2 {
        height: 665px;
    }
}






@media screen and (max-width: 1612px) {
    .navbar {
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    .documents__icon {
        width: 50%;
    }
    .modal-content {
        background-color: #ffffff;
        margin: 15% auto; 
        padding: 30px;
        max-width: 80%;
    }
}

@media screen and (max-width: 375px) {
    .documents__icon {
        width: 100%;
    }
}

@media screen and (max-width: 475px){
    .sec_10__advice_text2 p {
        display: none;
    }
}


@media screen and (max-width: 1094px) {
    #navbar__logo {
        margin-right: 5px;
        cursor: pointer;
      }
}

@media screen and (max-width: 778px){
    .header__help_card a {
        margin-left: 10%;
      }
}


@media screen and (max-width: 1265px) {
    
    .sec_10__advice_picture {
        display: block;
        top: -50px;
        width: 300px;
        justify-content: center;
        align-items: flex-start;
    }
    .sec_10__advice_text p:first-child {
        margin-top: 1vh;
    }
    .bg_sec_10 {
        height: 90vh;
    }
    .sec_10__advice_picture img {
        margin-bottom: 5px;
    }
    #arrows_green {
        margin-top: 100px;
    }
    #arrows_green2 {
        margin-top: 100px;
    }
}


@media screen and (max-width: 511px) {
    .sec_06__text {
        white-space: pre-wrap;
    }
    
    .sec_06__text p {
        white-space: wrap;
        font-size: 15px;
    }
    .sec_10__advice_text2 {
        height: 40px;
    }
}


@media screen and (max-width: 697px) {
    .sec_06__text p {
        font-size: 10pt;
        white-space: wrap;
    }
}

@media screen and (max-width: 575px) {
    .sec_06__text p {
        font-size: 12pt;
        white-space: pre-wrap;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 1180px) {
    .sec_04__card {
        background-color: white;
        margin: 5px 5px 5px 5px;
    }
    .sec_04__card:not(:first-child) {
        margin-left: 0px;
    }
}

@media screen and (max-width: 790px) {
    .sec2__project_button {
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .sec2__project_button button {
        margin-left: 0px;
        margin-top: 10px;
        margin-right: 0px; 
    }
    .sec2__project_button {
        flex-wrap: wrap;
        width: auto;
        flex: 1;
        margin-left: 0px;
    }
    .sec2__project_button button:not(:first-child) {
        margin-left: 0px;
    }
    .sec2__project h1 {
        margin-left: 30px;
        display: flex;
        font-weight: bold;
        margin-bottom: 30px;
        width: 250px;
        justify-content: center;
        align-items: center;
    }
    .sec2__project {
        justify-content: center;
        align-items: center;
    }
    .sec2__project_button button:hover {
        max-width: 274px;
        background-color: #ffad94;
        color: white;
        white-space: nowrap;
    }
}

@media screen and (max-width: 508px) {
    .about__fondation_texts {
        font-size: 12px !important;
        font-weight: bold;
    }
    .about__fondation_text h1 {
        font-size: 23px;
    }
}

@media screen and (max-width: 1320px) { 
    .sec_02__about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .about__fondation_video img{
    margin-left: 0px;
    margin-top: 0px;
    max-width: 90%;
    height: auto;
    }
    .about__fondation_button button:first-child {
    margin-right: 10%;
    }
}

@media screen and (max-width: 1260px) {
    .header__help_card a:not(:last-child) {
        margin-left: 5%;
    }
}

@media screen and (max-width: 1320px) {
    .header__help_card {
        margin-top: 26px;
    }

}

@media screen and (max-width: 800px) {
    .header__help {
        height: 1123px !important;
        width: 100%;
    }
    #header__help_fond {
        margin-left: 0 !important;
    }
    .about__fondation_button button:first-child {
        display: none;
    }
    #be__volunteer {
    margin-right: 16px;
    height: 50px;
    }

    #be__partner {
    margin-left: 16px;
    height: 50px;
}
}

@media screen and (max-width: 590px) {
    .header__help_card a {
        display: none;
    }
    .header__help_card img {
        height: 35px !important;
        justify-content: space-between
    }
    .about__fondation_video {
        margin: 0 auto;
        width: 300px;
    }
    .about__fondation_text1 h1{
    font-weight: bold;
    margin-bottom: 40px;
    }   

    .about__fondation_text2 h2{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 12pt;
    }
    .about__fondation_texts {
        display: block; 
    }
    .about__fondation_texts img {
    margin-right: 15px;
    width: 39px;
    height: 39px;
    margin-top: 5px;
    }
    .about__fondation_text {
        align-items: center;
        text-align: center;
    }
    .about__fondation_texts {
        width: auto;
    }
    .about__fondation_texts img {
        margin:0 0 20px 0;
    }
}

@media screen and (max-width: 750px) {
    .header__help_card a:not(:last-child) {
        margin-left: 2%;
    }
    .header__help_card a:not(:first-child) {
        margin-left: 1%;
    }
    .header__help_card img {
        flex-basis: calc(180px - 10px);
    }
    .header__help_card img:not(:first-child) {
        margin-left: 20px;
    }
    .about__fondation_video img{
    margin-left: 0px;
    margin-top: 0px;
    width: 90%;
    height: auto;
    }
    .about__fondation_texts {
        font-size: 15px;
    }
}

@media screen and (max-width: 1317px) {
    .header__sum button{
        width: 17vh !important;
    }
    .about__fondation_video {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}


@media screen and (max-width: 1630px) {
    .header__help {
        width: 95%;
    }
    .header__help_card {
        margin-top: 40px;
    }
}


@media screen and (max-width: 800px) {
    .header__sum {
      flex-basis: 100%;
    }
    .header__help {
        height: 1123px !important;
    }
}

@media screen and (max-width: 494px) {
    #navbar__logo {
        margin-right: 0px;
    }
}
@media screen and (max-width: 990px) {
    .header__help {
        width: 100%;
    }
    .navbar {
        width: 100%;
        background-color: #3e3e3e;
    }
    #telegram__icon {
        display: none;
    }
    #vk__icon {
        display: none;
    }
    .nav-item {
        width: 180px;
    }
    #nav_link {
        width: 164px;
        text-align: center;
    }
    #nav_link:hover {
        width: 164px;
        background-color: #ffad94;
        color: #ffffff;
    }
    #navbar__button {
        background-color: #ffad94;
        color: rgb(255, 255, 255);
    }
    .navbar-expand-lg {
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .container__box {
        width: 100%;
        padding: 0 0px;
        box-sizing: border-box;
      }
      #navbar__button {
        width: 100%;
    }
    .header__text {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
    }
    .header__text h2 {
        font-size: 22px;
        line-height: 48pt;
        white-space: nowrap;
    }
    .header__text h1 {
        font-size: 42pt;
        font-weight: bold;
        line-height: 38pt;
    }
    .header__text p {
        margin-top: 20px;
        font-size: 14pt;
        font-weight: normal;
        white-space: nowrap;
    }
}
@media screen and (max-width: 650px) {
    .header__text h2 {
        font-size: 32px;
        line-height: 48pt;
    }
    .header__text h1 {
        font-size: 32pt;
        font-weight: bold;
        line-height: 38pt;
    }
}
@media screen and (max-width: 500px) {
    .header__text h2 {
        font-size: 15px;
        line-height: 18pt;
    }
    .header__text h1 {
        font-size: 27pt;
        font-weight: bold;
        line-height: 38pt;
    }
}
@media screen and (max-width: 790px){
    .sec2__project_button button {
        margin: 10px 10px 10px 10px !important;
    }
    .sec_04__card {
        margin: 7px 7px 7px 7px !important;
    }
}
@media screen and (max-width: 841px) {
    .sec_04__card {
        margin: 7px 7px 7px 7px !important;
    }
}
@media screen and (max-width: 638px) {
    #header__another_read {
        display: none;
    }
}

@media screen and (max-width: 565px) {
    .bg_sec_10 {
        height: 120vh !important;
      }
}

@media screen and (max-width: 463px) {
    .documents__icons {
        display: block;
    }
}

@media screen and (max-width: 575px) {
    .sec13__card {
        padding: 50px 0 50px 0;
    }
    #sec13__input {
        display: block;
        justify-content: center;
        align-items: center;
    }
    .sec_10__advice_text p {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 12pt;
    }
}
@media screen and (max-width: 1330px) {
    .sec_06__text {
        position: relative;
        left: 0vh !important;
    }
    .sec_06__img {
        display: none;
    }
}
@media screen and (max-width: 530px) {
    .sec_10__advice_text2 p {
    display: none;
    }
}
@media screen and (max-width: 576px) {
    .bg_sec_06 {
        background: rgb(221,98,65);
        background: linear-gradient(90deg, rgba(221,98,65,1) 0%, rgba(230,121,92,1) 35%, rgba(255,153,127,1) 100%);
    }
}
@media screen and (max-width: 922px) {
    .sec_10__advice {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bg_sec_10 {
        height: 155vh;
    }
    .sec_10__advice_picture {
        left: 0px;
        top: 30px;
    }
}